#### Github: https://github.com/Luchkata/Algorithmic_Trading_Machine_Learning/blob/main/Algorithmic_Trading_Machine_Learning_Quant_Strategies.ipynb

### 1. Download/Load SP500 stocks prices data.

In [1]:
# from statsmodels.regression.rolling import RollingOLS
# import pandas_datareader.data as web
# import matplotlib.pyplot as plt
# import statsmodels.api as sm
# import pandas as pd
# import numpy as np
# import datetime as dt
# import yfinance as yf
# import pandas_ta
# import warnings
# import requests
# warnings.filterwarnings('ignore')
# url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
# response = requests.get(url)
# html = response.content

# # Lire les tables depuis le HTML
# sp500 = pd.read_html(html)[0]
# sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')
# symbols_list = sp500['Symbol'].unique().tolist()

# end_date = '2023-09-27'
# start_date = pd.to_datetime(end_date) - pd.DateOffset(365*8)

# df = yf.download(symbols_list, start=start_date, end=end_date)

# #Changer 'Price' par ''
# levels = df.columns.levels
# new_names = ['', 'Ticker']
# new_index = pd.MultiIndex(
#     levels=levels,
#     codes=df.columns.codes,
#     names=new_names)
# df.columns = new_index

# df = df.stack(level=1)
# df.index.names = ['date','ticker']
# df.columns=df.columns.str.lower()

[*********************100%***********************]  503 of 503 completed

4 Failed downloads:
['SW', 'SOLV', 'VLTO', 'GEV']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2015-09-29 00:00:00 -> 2023-09-27) (Yahoo error = "Data doesn\'t exist for startDate = 1443499200, endDate = 1695787200")')

### 2. Calculate features and technical indicators for each stock.

- Garman-Klass Volatility
- RSI
- Bollinger Bands
- ATR
- MACD
- Dollar Volume

$$\text{Garman-Klass Volatility}= \frac{(\ln(\text{High})-\ln(\text{Low}))^2}{2}-(2\ln(2)-1)(\ln(\text{Adj Close})-\ln(\text{Open}))^2$$

In [3]:
# df['garman_klass_vol'] = ((np.log(df['high'])-np.log(df['low']))**2)/2-(2*np.log(2)-1)*((np.log(df['adj close'])-np.log(df['open']))**2)
# df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))
# df['bb_low']= df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,0])
# df['bb_mid'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,1])                                                          
# df['bb_high'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,2])

# def compute_art(stock_data):
#     atr = pandas_ta.atr(high=stock_data['high'],
#                         low=stock_data['low'],
#                         close=stock_data['adj close'],
#                         length=14)
#     return atr.sub(atr.mean()).div(atr.std())

# df['atr'] = df.groupby(level=1, group_keys=False).apply(compute_art)

# def compute_macd(close):
#     macd = pandas_ta.macd(close=close, length=20).iloc[:,0]
#     return macd.sub(macd.mean()).div(macd.std())
# df['macd']=df.groupby(level=1,group_keys=False)['adj close'].apply(compute_macd)

# #WE DON'T NORMALIZE THE RSI 

# df['dollar_volume'] = (df['adj close']*df['volume'])/1e6
# df

                                   adj close       close        high  \
date                      ticker
2015-09-29 00:00:00+00:00 A        31.425238   33.740002   34.060001
                          AAL      37.361618   39.180000   39.770000
                          AAPL     24.622623   27.264999   28.377501
                          ABBV     36.004154   52.790001   54.189999
                          ABT      33.302013   39.500000   40.150002
...                                      ...         ...         ...
2023-09-26 00:00:00+00:00 XYL      88.501099   89.519997   90.849998
                          YUM     121.604248  124.010002  124.739998
                          ZBH     111.534821  112.459999  117.110001
                          ZBRA    223.960007  223.960007  226.649994
                          ZTS     175.131119  176.869995  178.449997

                                         low        open       volume  \
date                      ticker
2015-09-29 00:00:00+00:00 A        33.240002   33.360001    2252400.0
                          AAL      38.790001   39.049999    7478800.0
                          AAPL     26.965000   28.207500  293461600.0
                          ABBV     51.880001   53.099998   12842800.0
                          ABT      39.029999   39.259998   12287500.0
...                                      ...         ...          ...
2023-09-26 00:00:00+00:00 XYL      89.500000   90.379997    1322400.0
                          YUM     123.449997  124.239998    1500600.0
                          ZBH     112.419998  116.769997    3610500.0
                          ZBRA    222.580002  225.970001     355400.0
                          ZTS     176.270004  176.580002    1463200.0

                                  garman_klass_vol        rsi    bb_low  \
date                      ticker
2015-09-29 00:00:00+00:00 A              -0.001082        NaN       NaN
                          AAL            -0.000443        NaN       NaN
                          AAPL           -0.005833        NaN       NaN
                          ABBV           -0.057368        NaN       NaN
                          ABT            -0.010064        NaN       NaN
...                                            ...        ...       ...
2023-09-26 00:00:00+00:00 XYL            -0.000058  26.146747  4.483137
                          YUM            -0.000124  36.057177  4.806770
                          ZBH             0.000022  31.893243  4.745884
                          ZBRA            0.000133  29.494977  5.400991
                          ZTS             0.000049  42.623443  5.153746

                                    bb_mid   bb_high       atr      macd  \
date                      ticker
2015-09-29 00:00:00+00:00 A            NaN       NaN       NaN       NaN
                          AAL          NaN       NaN       NaN       NaN
                          AAPL         NaN       NaN       NaN       NaN
                          ABBV         NaN       NaN       NaN       NaN
                          ABT          NaN       NaN       NaN       NaN
...                                    ...       ...       ...       ...
2023-09-26 00:00:00+00:00 XYL     4.565058  4.646979 -3.003733 -2.159189
                          YUM     4.836734  4.866698 -2.859870 -1.363696
                          ZBH     4.785551  4.825217 -2.109952 -0.881067
                          ZBRA    5.539167  5.677342 -0.057389 -1.600791
                          ZTS     5.212559  5.271371 -0.695656 -1.188279

                                  dollar_volume
date                      ticker
2015-09-29 00:00:00+00:00 A           70.782205
                          AAL        279.420069
                          AAPL      7225.794472
                          ABBV       462.394152
                          ABT        409.198490
...                                         ...
2023-09-26 00:00:00+00:00 XYL        117.033853
                          YUM        182.479335
                          ZBH        402.696470
                          ZBRA        79.595386
                          ZTS        256.251853

[985955 rows x 14 columns]

### 3. Aggregate to monthly level and filter top 150 most liquid stocks for each month.

In [4]:
# last_cols = [c for c in df.columns.unique(0) if c not in ['dollar_volume','volume','open','high','low','close']]
# data = pd.concat([df.unstack('ticker')['dollar_volume'].resample('M').mean().stack('ticker').to_frame('dollar_volume'),
# df.unstack('ticker')[last_cols].resample('M').last().stack()],axis=1).dropna()

In [5]:
# data['dollar_volume'] = data.unstack()['dollar_volume'].rolling(5*12, min_periods=12).mean().stack()
# data['dollar_vol_rank'] = (data.groupby('date')['dollar_volume'].rank(ascending=False))
# data = data[data['dollar_vol_rank']<150].drop(['dollar_volume','dollar_vol_rank'],axis=1)

# data

                                   adj close  garman_klass_vol        rsi  \
date                      ticker
2016-10-31 00:00:00+00:00 AAL      39.134335         -0.000176  62.203578
                          AAPL     26.182161         -0.002541  49.890990
                          ABBV     39.878788         -0.049190  27.477843
                          ABT      34.112476         -0.008074  38.008785
                          ACN     103.117409         -0.005023  53.823679
...                                      ...               ...        ...
2023-09-30 00:00:00+00:00 XOM     112.466652         -0.000205  59.440189
                          MRNA     98.120003          0.000146  38.747314
                          UBER     44.270000          0.000441  45.005268
                          CRWD    160.479996          0.000144  51.534803
                          ABNB    132.279999          0.000213  44.494127

                                    bb_low    bb_mid   bb_high       atr  \
date                      ticker
2016-10-31 00:00:00+00:00 AAL     3.604673  3.655493  3.706314  1.161164
                          AAPL    3.293123  3.322002  3.350880 -0.978401
                          ABBV    3.744517  3.798670  3.852822  0.194826
                          ABT     3.549492  3.599959  3.650426 -0.633575
                          ACN     4.633009  4.644646  4.656283  0.061476
...                                    ...       ...       ...       ...
2023-09-30 00:00:00+00:00 XOM     4.679146  4.719239  4.759332 -1.303971
                          MRNA    4.582514  4.685332  4.788149 -0.529511
                          UBER    3.806654  3.862227  3.917801 -0.746098
                          CRWD    5.026187  5.103696  5.181204 -0.744862
                          ABNB    4.857047  4.940924  5.024801 -1.006939

                                      macd
date                      ticker
2016-10-31 00:00:00+00:00 AAL     1.131597
                          AAPL   -0.195978
                          ABBV   -0.760593
                          ABT    -0.650889
                          ACN    -0.135456
...                                    ...
2023-09-30 00:00:00+00:00 XOM     1.400623
                          MRNA   -0.376899
                          UBER   -0.133973
                          CRWD    0.245950
                          ABNB   -0.037854

[12516 rows x 8 columns]

### 4. Calculate Monthly Returns for different time horizons as features.

In [6]:
# # g = df.xs('AAPL',level=1)
# def calculate_returns(df):
#     lags = [1, 2, 3, 6, 9, 12]
#     outlier_cutoff = 0.005
#     for lag in lags:
#         df[f"return_{lag}m"] = (df['adj close']
#                                 .pct_change(lag)
#                                 .pipe(lambda x: x.clip(lower=x.quantile(outlier_cutoff),
#                                                         upper=x.quantile(1-outlier_cutoff)))
#                                 .add(1)
#                                 .pow(1/lag)
#                                 .sub(1))
#     return df
# data = data.groupby(level=1,group_keys=False).apply(calculate_returns).dropna()
# data

                                   adj close  garman_klass_vol        rsi  \
date                      ticker
2017-10-31 00:00:00+00:00 AAL      45.534164         -0.000363  41.051775
                          AAPL     39.667988         -0.001105  69.196645
                          ABBV     66.876808         -0.036142  55.247900
                          ABT      48.237465         -0.005677  53.844910
                          ACN     128.834732         -0.004274  69.365387
...                                      ...               ...        ...
2023-09-30 00:00:00+00:00 XOM     112.466652         -0.000205  59.440189
                          MRNA     98.120003          0.000146  38.747314
                          UBER     44.270000          0.000441  45.005268
                          CRWD    160.479996          0.000144  51.534803
                          ABNB    132.279999          0.000213  44.494127

                                    bb_low    bb_mid   bb_high       atr  \
date                      ticker
2017-10-31 00:00:00+00:00 AAL     3.849110  3.921750  3.994389  1.125076
                          AAPL    3.593605  3.640476  3.687347 -0.544506
                          ABBV    4.187696  4.234050  4.280405  1.610790
                          ABT     3.887385  3.910952  3.934519 -0.122966
                          ACN     4.798335  4.838013  4.877691  0.133204
...                                    ...       ...       ...       ...
2023-09-30 00:00:00+00:00 XOM     4.679146  4.719239  4.759332 -1.303971
                          MRNA    4.582514  4.685332  4.788149 -0.529511
                          UBER    3.806654  3.862227  3.917801 -0.746098
                          CRWD    5.026187  5.103696  5.181204 -0.744862
                          ABNB    4.857047  4.940924  5.024801 -1.006939

                                      macd  return_1m  return_2m  return_3m  \
date                      ticker
2017-10-31 00:00:00+00:00 AAL    -0.018698  -0.014108   0.022981  -0.023860
                          AAPL   -0.039276   0.096808   0.015250   0.044955
                          ABBV    0.473814   0.022728   0.098590   0.091379
                          ABT     0.276134   0.021276   0.034308   0.034801
                          ACN     0.352342   0.064180   0.048455   0.037203
...                                    ...        ...        ...        ...
2023-09-30 00:00:00+00:00 XOM     1.400623   0.046947   0.046139   0.030496
                          MRNA   -0.376899  -0.132219  -0.086803  -0.068763
                          UBER   -0.133973  -0.062672  -0.053920   0.008422
                          CRWD    0.245950  -0.015641  -0.003656   0.029981
                          ABNB   -0.037854   0.005549  -0.067704   0.010603

                                  return_6m  return_9m  return_12m
date                      ticker
2017-10-31 00:00:00+00:00 AAL      0.016495   0.007008    0.012702
                          AAPL     0.028875   0.038941    0.035229
                          ABBV     0.056495   0.047273    0.044026
                          ABT      0.038672   0.031320    0.029294
                          ACN      0.028692   0.027398    0.018728
...                                     ...        ...         ...
2023-09-30 00:00:00+00:00 XOM      0.012838   0.008747    0.027037
                          MRNA    -0.071952  -0.064976   -0.015431
                          UBER     0.057244   0.066838    0.043691
                          CRWD     0.026391   0.047942   -0.002216
                          ABNB     0.010289   0.049124    0.019401

[10342 rows x 14 columns]

In [7]:
# data = data.unstack('ticker')
# data.index = data.index.tz_localize(None)
# data = data.stack()
# data

                    adj close  garman_klass_vol        rsi    bb_low  \
date       ticker
2017-10-31 AAL      45.534164         -0.000363  41.051775  3.849110
           AAPL     39.667988         -0.001105  69.196645  3.593605
           ABBV     66.876808         -0.036142  55.247900  4.187696
           ABT      48.237465         -0.005677  53.844910  3.887385
           ACN     128.834732         -0.004274  69.365387  4.798335
...                       ...               ...        ...       ...
2023-09-30 VRTX    351.690002          0.000037  52.406728  5.838959
           VZ       30.755373         -0.001680  42.222473  3.451862
           WFC      39.479488         -0.000317  40.920272  3.689633
           WMT      53.445202         -0.000074  54.722575  3.982183
           XOM     112.466652         -0.000205  59.440189  4.679146

                     bb_mid   bb_high       atr      macd  return_1m  \
date       ticker
2017-10-31 AAL     3.921750  3.994389  1.125076 -0.018698  -0.014108
           AAPL    3.640476  3.687347 -0.544506 -0.039276   0.096808
           ABBV    4.234050  4.280405  1.610790  0.473814   0.022728
           ABT     3.910952  3.934519 -0.122966  0.276134   0.021276
           ACN     4.838013  4.877691  0.133204  0.352342   0.064180
...                     ...       ...       ...       ...        ...
2023-09-30 VRTX    5.859127  5.879295  0.029799  0.027907   0.009617
           VZ      3.484054  3.516245 -2.269785 -0.350386  -0.056890
           WFC     3.729990  3.770346 -1.480986 -0.282325  -0.015500
           WMT     3.999651  4.017120 -2.595188  0.399460  -0.000676
           XOM     4.719239  4.759332 -1.303971  1.400623   0.046947

                   return_2m  return_3m  return_6m  return_9m  return_12m
date       ticker
2017-10-31 AAL      0.022981  -0.023860   0.016495   0.007008    0.012702
           AAPL     0.015250   0.044955   0.028875   0.038941    0.035229
           ABBV     0.098590   0.091379   0.056495   0.047273    0.044026
           ABT      0.034308   0.034801   0.038672   0.031320    0.029294
           ACN      0.048455   0.037203   0.028692   0.027398    0.018728
...                      ...        ...        ...        ...         ...
2023-09-30 VRTX    -0.000923  -0.000208   0.018495   0.022140    0.016337
           VZ      -0.016122  -0.033458  -0.021495  -0.014100   -0.006158
           WFC     -0.057917  -0.013554   0.016712   0.000703    0.003255
           WMT      0.010014   0.012354   0.017574   0.016553    0.020256
           XOM      0.046139   0.030496   0.012838   0.008747    0.027037

[10342 rows x 14 columns]

In [8]:
# data.xs('AAPL',level=1)['return_1m'].to_frame()

            return_1m
date
2017-10-31   0.096808
2017-11-30   0.020278
2017-12-31  -0.015246
2018-01-31  -0.010636
2018-02-28   0.068185
...               ...
2023-05-31   0.046058
2023-06-30   0.094330
2023-07-31   0.012786
2023-08-31  -0.042384
2023-09-30  -0.084686

[72 rows x 1 columns]

### 5. Download Fama-French Factors and Calculate Rolling Factor Betas.

In [9]:
# factor_data = web.DataReader('F-F_Research_Data_5_Factors_2x3',
#                                'famafrench',
#                                start='2010')[0].drop('RF', axis=1)
# factor_data.index = factor_data.index.to_timestamp()
# factor_data = factor_data.resample('M').last().div(100)
# factor_data.index.name = 'date'
# factor_data = factor_data.join(data['return_1m'])
# factor_data = factor_data.sort_index(level=0)

In [10]:
# observations = factor_data.groupby('ticker').size()
# valid_stocks = observations[observations > 10]
# factor_data = factor_data[factor_data.index.get_level_values(1).isin(valid_stocks.index)]
# factor_data.xs('AAPL',level=1)

            Mkt-RF     SMB     HML     RMW     CMA  return_1m
date
2017-10-31  0.0225 -0.0194  0.0019  0.0091 -0.0326   0.096808
2017-11-30  0.0312 -0.0032 -0.0003  0.0319 -0.0006   0.020278
2017-12-31  0.0106 -0.0106  0.0006  0.0075  0.0170  -0.015246
2018-01-31  0.0557 -0.0317 -0.0128 -0.0075 -0.0091  -0.010636
2018-02-28 -0.0365  0.0032 -0.0104  0.0048 -0.0228   0.068185
...            ...     ...     ...     ...     ...        ...
2023-05-31  0.0035 -0.0038 -0.0774 -0.0182 -0.0720   0.046058
2023-06-30  0.0647  0.0136 -0.0020  0.0227 -0.0162   0.094330
2023-07-31  0.0321  0.0284  0.0411 -0.0057  0.0062   0.012786
2023-08-31 -0.0239 -0.0368 -0.0108  0.0342 -0.0237  -0.042384
2023-09-30 -0.0524 -0.0179  0.0145  0.0185 -0.0084  -0.084686

[72 rows x 6 columns]

In [15]:
# import pickle

# # Sauvegarde de la variable data dans un fichier
# with open('data.pkl', 'wb') as f:
#     pickle.dump(data, f)

In [11]:
# betas = (factor_data.groupby(level=1,
#                             group_keys=False)
#          .apply(lambda x: RollingOLS(endog=x['return_1m'], 
#                                      exog=sm.add_constant(x.drop('return_1m', axis=1)),
#                                      window=min(24, x.shape[0]),
#                                      min_nobs=len(x.columns))
#          .fit(params_only=True)
#          .params
#          .drop('const', axis=1)))

# betas

                     Mkt-RF       SMB       HML       RMW       CMA
date       ticker
2017-10-31 AAL          NaN       NaN       NaN       NaN       NaN
           AAPL         NaN       NaN       NaN       NaN       NaN
           ABBV         NaN       NaN       NaN       NaN       NaN
           ABT          NaN       NaN       NaN       NaN       NaN
           ACN          NaN       NaN       NaN       NaN       NaN
...                     ...       ...       ...       ...       ...
2023-09-30 VRTX    0.456337 -0.440101 -0.315507 -0.079740  0.800296
           VZ      0.329037 -0.163596  0.272319  0.320803  0.096977
           WFC     1.112946  0.306862  2.044025 -0.451834 -1.511410
           WMT     0.703224 -0.309992 -0.427582 -0.156629  0.526795
           XOM     0.972447 -1.081439  1.740413 -0.634736 -0.371114

[10295 rows x 5 columns]